*{
 margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***************************/
#contenuor{
 width: 60%;
}
#chatbox{
overflow-y: scroll;
height: 80vh;
background: #fff;
}
#chatbox::-webkit-scrollbar {
  width: 10px;
}
#chatbox::-webkit-scrollbar-track {
  background-color: #eee;
}
#chatbox::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}
#chatbox::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}
#chatbox::-webkit-scrollbar-corner {
  background-color: palevioletred;
}
#ty img{
    display: block;
    width: 100%;
}
/***********************************/
.for{
    width: 40%;
    margin-left: 60%;
}
.text {
    margin-top: 3px;
    width: 90%;
    height: 40px;
    margin-left: 3px;
    outline: none;
    border: 1px solid transparent;
    padding: 0 80px 0 15px;
    border-radius: 3px;
    font-size: 15px;
    background: #fff;
    transition: all 0.3s ease;
    border-color: rgba(0,123,255,0.8);
 }
 .text:focus{
    border-color: rgba(0,123,255,0.8);
}
 .text::placeholder{
    color: #999999;
    transition: all 0.3s ease;
}
 .text:focus::placeholder{
    color: #bfbfbf;
}
/****************************************/
.ms {
    margin-top: 3px;
    width: 90%;
    height: 20vh;
    margin-left: 3px;
    margin-top: 5%;
    outline: none;
    border: 1px solid transparent;
    padding: 0 80px 0 15px;
    border-radius: 3px;
    font-size: 15px;
    background: #fff;
    transition: all 0.3s ease;
    border-color: rgba(0,123,255,0.8);
 }
.ms:focus{
    border-color: rgba(0,123,255,0.8);
}
.ms::placeholder{
    color: #999999;
    transition: all 0.3s ease;
    font-size: 20px;
}
.ms:focus::placeholder{
    color: #bfbfbf;
}
/*****************************/
.but{
    margin-top: 5px;
    height: 38px;
    width: 200px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    background: #007bff;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}
.but:valid ~ .but{
    opacity: 1;
    pointer-events: auto;
}
.but:hover{
    background: #006fef;
}
/**********************************/
#chat_1{
    
}
#chatdata{
    background: #007bff;
    width: 600px;
    height: 90px;
    margin-top: 50px;
    margin-bottom: 3px;
    margin-left: 10px;
    border-radius: 5px;
}
.scr{
    margin-top: -5px;
    margin-left: 5px;
    font-size: 1.10em;
    font-family: arial;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.dot{
    font-size: 1.5em;
}
.ver{
    font-family: arial;
    color: #fff;
    margin-left: 5px;
    font-size: 1em;
    width: 300px;
}
.ker{
    font-size: 0.60em;
    font-family: arial;
    margin-left: 80%;
    font-weight: 100;
    color: #fff;
}

@media (max-width: 1200px) {
    #contenuor{
        background: #fff;
        width: 100%;
        padding-top: 10%;
    }
    #chatbox{
        background: #fff;
        height: 50vh;
        width: 100%;
    }
    .for{
        width: 100%;
        margin-left: -0%;
        margin-top: 7px;
        background: #eee;
    }
    .text {
        margin-top: 3px;
        width: 90%;
        height: 70px;
        margin-left: 3px;
        font-size: 30px;
        background: #fff;
     }
     .text:focus{
        border-color: rgba(0,123,255,0.8);
    }
     .text::placeholder{
        color: #999999;
        transition: all 0.3s ease;
    }
     .text:focus::placeholder{
        color: #bfbfbf;
    }
    /****************************************/
    .ms {
        margin-top: 3px;
        width: 90%;
        height: 20vh;
        margin-left: 3px;
        margin-top: 5%;
        outline: none;
        border: 1px solid transparent;
        padding: 0 80px 0 15px;
        border-radius: 3px;
        font-size: 30px;
        background: #fff;
        transition: all 0.3s ease;
        border-color: rgba(0,123,255,0.8);
     }
    .ms:focus{
        border-color: rgba(0,123,255,0.8);
    }
    .ms::placeholder{
        color: #999999;
        transition: all 0.3s ease;
        font-size: 20px;
    }
    .ms:focus::placeholder{
        color: #bfbfbf;
    }
    /*****************************/
    .but{
        margin-top: 5px;
        height: 70px;
        width: 400px;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        outline: none;
        border-radius: 5px;
        background: #007bff;
        border: 1px solid #007bff;
        transition: all 0.3s ease;
    }
    .but:valid ~ .but{
        opacity: 1;
        pointer-events: auto;
    }
    .but:hover{
        background: #006fef;
    }
    #chatdata{
    width: 90%;
    height: 300px;
    padding-top: 3%;
    margin-bottom: 3px;
    margin-left: 10px;
    border-radius: 10px;
    }
    .scr{
    margin-left: 30px;
    font-size: 40px;
    }
    .dot{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    }
    .ver{
    margin-left: 30px;
    font-size: 35px;
    width: 50%;
    }
    .ker{
    font-size: 20px;
    margin-left: 70%;
    font-weight: 100;
    margin-top: -20%;
    }

}